<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/font_tnyc012u2rlwstt9.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/news.css}" media="all"/>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body" style="padding: 20px 50px 20px 20px;">
        <form class="layui-form" lay-filter="accountForm">
            <!--隐藏ID-->
            <div class="layui-form-item">
                <input type="hidden" id="accountId" name="accountId" th:value="${account.accountId}">
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input id="username" name="username" type="text" class="layui-input" lay-verify="username"
                           placeholder="请输入用户名" autocomplete="off" th:value="${account.username}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input id="password" name="password" class="layui-input" lay-verify="password"
                           placeholder="请输入密码" autocomplete="off" th:value="${account.password}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input id="repeatPassword" name="repeatPassword" class="layui-input" lay-verify="repeatPassword"
                           placeholder="请再次输入密码" autocomplete="off" th:value="${account.password}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input id="phone" name="phone" type="text" class="layui-input" lay-verify="phone" placeholder="请输入电话号码"
                           autocomplete="off" th:value="${account.phone}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮件</label>
                <div class="layui-input-block">
                    <input id="email" name="email" type="text" class="layui-input" lay-verify="email" placeholder="请输入电子邮件"
                           autocomplete="off" th:value="${account.email}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否有效</label>
                <div class="layui-input-block">
                    <select lay-verify="required" id="status" name="status">
                        <option name="status" value="1" th:selected="${account.status==1}">是</option>
                        <option name="status" value="0" th:selected="${account.status==0}">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input id="note" name="note" type="text" class="layui-input" placeholder="备注，可为空" autocomplete="off"
                           th:value="${account.note}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">选择角色</label>
                <div class="layui-input-block">
                    <input class="roleCheckbox" name="roleIds" th:each="item:${hasRoles}" type="checkbox" th:value="${item.roleId}"
                           th:title="${item.roleName}" th:checked="${item.has}" lay-filter="role" />
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="updateAccount" lay-filter="updateAccount">确认修改</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script th:src="@{/webjars/layui/2.5.6/lay/modules/jquery.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/account/updateAccount.js}"></script>
</html>