<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://mybatis.org"
       xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>通用组件</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.5.6/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/saftySupervisorMap.css}" media="all"/>
</head>
<body>
<div id="test1"></div>
<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script>
    layui.use('transfer', function(){
        var transfer = layui.transfer;

        //渲染
        transfer.render({
            elem: '#test1'  //绑定元素
            ,data: [
                {"value": "1", "title": "李白", "disabled": "", "checked": ""}
                ,{"value": "2", "title": "杜甫", "disabled": "", "checked": ""}
                ,{"value": "3", "title": "贤心", "disabled": "", "checked": ""}
            ]
            ,id: 'demo1' //定义索引
        });
    });
</script>
</body>
</html>