<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/css/news.css}" media="all" />
</head>
<body>

<div class="layui-card">
    <div class="layui-card-body" style="padding: 20px 50px 20px 20px;">
        <form class="layui-form" lay-filter="roleForm">
            <input type="hidden" id="RoleId" name="roleId" th:value="${role.roleId}" />

            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input id="roleName" name="roleName" type="text" class="layui-input" lay-verify="roleName" placeholder="请输入角色名称" autocomplete="off" th:value="${role.roleName}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <input id="note" name="note" type="text" class="layui-input" lay-verify="note" placeholder="请输入备注信息" autocomplete="off" th:value="${role.note}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="updateRole" lay-filter="updateRole">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>

<script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
<script th:src="@{/webjars/layui/2.5.6/lay/modules/jquery.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/role/updateRole.js}"></script>
</html>